*{margin: 0;padding: 0;}
ul{list-style: none;}
body{
  background: url(../image/sk/bg_leftmenu_gr.gif) 0 0 repeat-y;
  height: 100%;
  font-size: 12px;
  font-family: Dotum;
}
img{border: 0;}
header{
  height: 103px;
  background:url(../image/sk/bg_topgr.png)  left bottom repeat-x;
  position: relative;
  h1{
    position: absolute;
    top: 18px;
    left:52px;
  }
  .gnb{
       position: absolute;
       top: 12px;
       right: 66px;
       li{
         float: left;
         padding: 0 8px 0 7px;}
     }
     .menu{
       position: absolute;
       top: 60px;
       left: 292px;
       li{float: left;
          padding: 2px 35px 0 35px;
          background: url(../image/sk/bg_bar_tmenu.gif)  right top no-repeat;
       }
       li:last-child{
         padding-right: 0;
       }
     }
     .sns_list{
       position: absolute;
       top: 58px;
       right: 250px;
      li{float: left;padding-right: 2px;}
     }
   }
