*{margin: 0;padding: 0;}
ul{list-style: none;}
body{
  background: url(../image/sk/bg_leftmenu_gr.gif) 0 0 repeat-y;
  height: 100%;
  font-size: 12px;
  font-family: Dotum, "돋움";
  color: #595959;
  letter-spacing: -1px;
  line-height: 17px;
}
body a{
  text-decoration: none;
  color: #595959;
}
img{border: 0;}
header{
  height: 103px;
  background:url(../image/sk/bg_topgr.png)  left bottom repeat-x;
  position: relative;
  z-index: 999;
  h1{
    position: absolute;
    top: 18px;
    left:52px;
  }
  .gnb{
       position: absolute;
       top: 12px;
       right: 66px;
       li{
         float: left;
         padding: 0 8px 0 7px;
         background: url(../image/sk/bg_bar_gnb.gif) right 3px no-repeat;
       }
       li:last-child{
         padding-right: 0;
         background: 0;
       }
     }
     .menu{
       position: absolute;
       top: 60px;
       left: 292px;
       li{float: left;
          padding: 2px 35px 0 35px;
          background: url(../image/sk/bg_bar_tmenu.gif)  right top no-repeat;
       }
       li:last-child{
         padding-right: 0;
         background: 0;
       }
     }
     .sns_list{
       position: absolute;
       top: 58px;
       right: 250px;
      li{float: left;padding-right: 2px;}
     }
     fieldset{
       position: absolute;
       border: 0;
       width: 172px;
       height: 29px;
       top: 54px;
       right: 57px;
       background: url(../image/sk/bg_searchbox.gif) 0 0 no-repeat;
       legend{
         position: absolute;
         top: -9999px;
         left: -9999px;
       }
       input{
         width: 137px;
         height: 19px;
         border: 0;
         position: absolute;
         top: 5px;
         left: 5px;
         background: none;
       }
       a{
         position: absolute;
         top: 5px;
         left: 150px;
       }
     }
   }
body section{
  padding: 0 !important;
  background: none !important;
}

section{
    position: relative;
    clear: both;
    width: 100%;
    margin-top: -8px;
    padding: 0;
    background: url(../image/sk/bg_linkbox_nospace.gif)right top repeat-y;
    .container{
      position: relative;
      padding: 0 259px 0 327px;
      overflow: hidden;
      .sitemaparea{
        position: relative;
        float: left;
        width: 239px;
        padding: 0 0 0 28px;
        margin: 0 0 0 327px;
        a{
        display: block;
        position: absolute;
        top: 0;
        left: 7px;
        height: 24px;
        padding-top: 14px;
        z-index: 1000;
       }
      }
      .hidemap{
        width: 721px;
        height: 100%;
        background: url(../image/sk/bg_hiddenmap.gif) right top no-repeat;
               }
      .content{
                float: left;
                width: 100%;
                padding: 50px 0 40px 0;
                .contents{
                  .company{
                    float: left;
                    position: relative;
                    border-right: 1px #eaeaea solid;
                    border-bottom: 1px #eaeaea solid;
                    background: url(../image/sk/bg_skbox_bot.gif)left bottom repeat-x;
                    width: 954px;
                    height: 362px;
                    .slide{
                      width: 717px;
                      height: 362px;
                      position: absolute;
                      top: 0;
                      left: 0;
                      border-right: 1px #eaeaea solid;
                    }
                    .rightbox{
                      width: 235px;
                      height: 362px;
                      position: relative;
                      float: right;
                    }
                  }
                  .investor{
                    float: left;
                    width: 214px;
                    height: 333px;
                    padding: 29px 0 0 26px;
                    background: url(../image/sk/bg_grd_01.gif) 0 0 repeat-y;
                    border-right: 1px #eaeaea solid;
                    border-bottom: 1px #eaeaea solid;
                    h2{
                      height: 34px;
                    }
                  }
                  .sk_media{
                    width: 219px;
                    height: 209px;
                    border-right: 1px #eaeaea solid;
                    border-bottom: 1px #eaeaea solid;
                    float: left;
                    padding: 30px 0 0 19px;
                    background: url(../image/sk/bg_grd_03.gif) right bottom repeat-x;
                  }
                  .sk_global{
                    width: 200px;
                    height: 209px;
                    float: left;
                    padding: 30px 19px 0 19px;
                    background: url(../image/sk/bg_globalsk_tmp.jpg) center bottom no-repeat;
                    background-color: #f3f3f3;
                    border-right: 1px #eaeaea solid;
                    border-bottom: 1px #eaeaea solid;
                  }
                  .sk_news{
                    position: relative;
                    float: left;
                    width: 717px;
                    height: 239px;
                    border-right:1px #eaeaea solid;
                    border-bottom: 1px #eaeaea solid;
                  }
                  .divide{
                    width: 238px;
                    height: 372px;
                    float: left;
                    border-right: 1px #eaeaea solid;
                    .social{
                      width: 100%;
                      height: 190px;
                      background:url(../image/sk/social_bg.jpg) 39px bottom no-repeat;
                      background-color: #f3f3f3;
                      overflow: hidden;
                      dt{
                        width: 190px;
                        height: 31px;
                        padding: 30px 0 0 19px;
                      }
                      dd{
                        position: relative;
                        width: 205px;
                        padding: 0 0 20px 19px;
                        p{line-height: 16px;}
                        div{ margin-top: 7px;
                          span{
                            text-decoration: underline;
                            letter-spacing: -0.15em;
                          }
                          img{
                            vertical-align: top;
                          }
                        }
                      }
                    }
                    .nanum{}
                  }
                  .sk_cf{
                    width: 220px;
                    height: 342px;
                    float: left;
                    padding: 30px 0 0 18px;
                    border-right: 1px #eaeaea solid;
                    h2{height: 29px;}
                    h3{
                      line-height: 20px;
                      font-size: 15px;
                      font-family: malgun;
                      font-weight: bold;
                      color: #333;
                      padding-bottom: 15px;
                      width: auto;
                      max-width: 200px;
                    }
                    .sk_video{
                      position: relative;
                      text-align: center;
                      width: 205px;
                    }
                    p{
                      width: 200px;
                      text-align: left;
                      margin-top: 15px;
                    }
                  }
                  .talented{
                    width: 217px;
                    height: 316px;
                    float: left;
                    padding: 30px 0 26px 19px;
                    border-right: 1px #eaeaea solid;
                    h2{height: 29px;}
                    h3{
                      width: 90%;
                      height: 111px;
                      font-family: malgun;
                      font-weight: bold;
                      font-size: 16px;
                      color: #333;
                      line-height: 20px;
                      a{
                        font-family: malgun;
                        color: #333;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 20px;
                      }
                      p{
                        width: 100%;
                        margin-top: 10px;
                        color: #343434;
                        font-weight: normal !important;
                        font-family: malgun;
                        font-size: 14px !important;
                        line-height: 17px;
                        a{
                          font-size: 14px;
                          color: #343434;
                          line-height: 17px;
                          font-family: malgun;
                          font-weight: normal;
                          span{
                            border-bottom: 1px #666 solid;
                          }
                          img{vertical-align: middle;}
                        }
                      }
                    }
                    dl{
                      width: 204px;
                      font-size: 11px;
                      font-family: verdana, Dotum;
                      letter-spacing: -1px;
                      padding-bottom: 14px;
                      dt{
                        color: #de0029;
                        padding-bottom: 2px;
                        font-family: Tahoma, Geneva, sans-serif;
                        font-size: 11px;
                        line-height: 15px;
                        span{
                          display: block;
                          color: #000;
                        }
                      }
                      dd{
                        line-height: 16px;
                        color: #999;
                      }
                    }
                  }
                  .sk_sport{
                    width: 220px;
                    height: 342px;
                    padding: 30px 0 0 19px;
                    float: left;
                    border-right: 1px #eaeaea solid;
                    background: url(../image/sk/bg_sports.jpg) center 160px no-repeat;
                    h2{height: 29px;}
                    h3{
                      width: 90%;
                      height: 50px;
                      color: #333;
                      font-family: malgun;
                      font-size: 16px;
                      font-weight: bold;
                      line-height: 20px;
                    }
                    .text{
                      width: 84%;
                      font-family: malgun;
                      font-size: 14px;
                    }
                  }
                  .sk_blog{
                    position: relative;
                    width: 217px;
                    height: 342px;
                    padding: 30px 0 0 20px;
                    border-right: 1px #eaeaea solid;
                    float: left;
                    h2{height: 29px;}
                    h3{
                      width: 198px;
                      padding-bottom: 15px;
                      font-family: malgun;
                      font-size: 16px;
                      font-weight: bold;
                      line-height: 20px;
                      color: #333;
                    }
                    .text{
                      width: 198px;
                      height: 72px;
                    }
                    .p_img{
                      position: absolute;
                      left: 20px;
                      bottom: 20px;
                      img{
                        width: 197px;
                        height: 112px;
                      }
                    }
                  }
                }
              }
           }
}
section .container .content{
    width: 1200px;
    padding: 0 !important;
  }
section .container{ padding: 0 0 0 28px;}
section  .container .sitemaparea {
                       position: relative;
                       float: left;
                       width: 28px;
                       padding: 0;
                       margin: 0 0 0 -28px;
                      }

footer{
  position: relative;
  width: 100%;
  height: 129px;
  border-top: 1px #eaeaea solid;
  background-color: #fff;
  h1{
    position: absolute;
    top:25px;
    left: 57px;
  }
  .footermenu{
    position: absolute;
    top: 30px;
    left: 286px;
    li{
      float: left;
      margin-right: 20px;
    }
  }
  p{
    position: absolute;
    top: 49px;
    left: 286px;
    width: 482px;
    height: 24px;
    font-size: 11px;
    span{
      font-size: 10px;
      font-family: Verdana,arial;
    }
  }
  .Accessibility{
    position: absolute;
    top: 22px;
    left: 1124px;
  }
}
