*{margin: 0;padding: 0;}
ul,li{list-style: none;}
img{border: 0;}
body{
  background: url("../image/sk/bg_leftmenu_gr.gif");
  background-repeat: repeat-y;
  height: 100%;
  font-size: 12px;
  font-family: Dotum, "돋움";
  color: #333;
}
body a{
  text-decoration: none;
  color: #595959;
  &:hover{ color: #000;}
}

header{
  height: 103px;
  background:url("../image/sk/bg_topgr.png");
  background-position:  left bottom;
  background-repeat: repeat-x;
  position: relative;
  z-index: 999;
  h1{
    position: absolute;
    top: 18px;
    left:52px;
  }
  .gnb{
       position: absolute;
       top: 12px;
       right: 66px;
       li{
         float: left;
         padding: 0 8px 0 7px;
         background: url("../image/sk/bg_bar_gnb.gif");
         background-position: right 3px;
         background-repeat: no-repeat;
         img{display: block;}
       }
       li:last-child{
         padding-right: 0;
         background: 0;
       }
     }
     .menu{
       position: absolute;
       top: 60px;
       left: 292px;
       li{float: left;
          padding: 2px 35px 0 35px;
          background: url("../image/sk/bg_bar_tmenu.gif");
          background-position:  right top;
          background-repeat: no-repeat;
       }
       li:last-child{
         padding-right: 0;
         background: 0;
       }
     }
     .sns_list{
       position: absolute;
       top: 58px;
       right: 250px;
      li{float: left;padding: 0 2px;}
     }
     fieldset{
       position: absolute;
       border: 0;
       width: 172px;
       height: 29px;
       top: 54px;
       right: 57px;
       background: url("../image/sk/bg_searchbox.gif");
       background-repeat: no-repeat;
       legend{
         position: absolute;
         top: -9999px;
         left: -9999px;
       }
       input{
         width: 137px;
         height: 19px;
         border: 0;
         position: absolute;
         top: 5px;
         left: 5px;
         background: none;
       }
       a{
         position: absolute;
         top: 5px;
         left: 150px;
       }
     }
   }
  .gnb_m{ display: none;}

section{
    position: relative;
    clear: both;
    width: 100%;
    margin-top: -8px;
    background: url("../image/sk/bg_linkbox_nospace.gif");
    background-position: right top;
    background-repeat: repeat-y;
    .container{
      position: relative;
      padding: 0 259px 0 327px;
      overflow: hidden;
      .sitemaparea{
        position: relative;
        float: left;
        width: 239px;
        padding: 0 0 0 28px;
        margin: 0 0 0 -327px;
        .map_open{
        display: block;
        position: absolute;
        top: 0;
        left: 7px;
        height: 24px;
        padding-top: 14px;
        z-index: 1000;
       }
      }
      .hidemap{
        width: 721px;
        height: 100%;
        padding: 31px 0 0 34px;
        background: url("../image/sk/bg_hiddenmap.jpg");
        background-position: right top;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left:-755px;
        z-index: 1001;
        .map_close{
          position: absolute;
          right: 7px;
          top: 14px;
        }
         .sitemap{
           height: 333px;
           background: url("../image/sk/bg_sitemap.gif");
           background-position: 120px bottom;
           background-repeat: no-repeat;
           h2{ padding: 0 0 25px 10px;
             img{display: block;}
           }
          h3{
            width: 126px;
            float: left;
            padding-left: 10px;
            img{display: block;}
            span{
              display: block;
              margin: 22px 0 15px 0;
            }
          }
          ul{
            width: 126px;
            padding-left: 10px;
            float: left;
            li{
              font-size: 11px;
              line-height: 18px;
              a{
                color: #666;
                &:hover{ color: #ea002c; }
              }
            }
          }
         }
         .skcompany{
           height: 332px;
           padding-top: 30px;
           h2{ padding:  0 0 33px 10px;
             img{display: block;}
           }
           h3{ height: 30px; padding-left: 10px;
             img{display: block;}
           }
           ul{ padding: 0 0 33px 10px; overflow: hidden;
             li{
               float: left;
               width: 139px;
               font-size: 11px;
               line-height: 18px;
               a{
                 color: #666;
                 &:hover{ color: #ea002c; }
               }
             }
           }
         }
      }
      .content{
                float: left;
                width: 100%;
                padding: 50px 0 40px 0;
                .contents{
                  .company_01{
                    float: left;
                    position: relative;
                    border-right: 1px #eaeaea solid;
                    border-bottom: 1px #eaeaea solid;
                    background: url("../image/sk/bg_skbox_bot.gif");
                    background-position: left bottom;
                    background-repeat: repeat-x;
                    width: 954px;
                    height: 362px;
                    display: none;
                    .slide{
                      width: 717px;
                      height: 362px;
                      position: absolute;
                      top: 0;
                      left: 0;
                      border-right: 1px #eaeaea solid;
                      ul{
                        position: absolute;
                        left: 0;
                        top: 0;
                        li{
                        float: left;
                        width: 717px;
                        }
                        li:nth-child(2){display: none;}
                        li:nth-child(3){display: none;}
                      }
                      .stop{
                        width: 30px;
                        height: 30px;
                        border: 0;
                        position: absolute;
                        bottom: 15px;
                        right: 47px;
                        background: url("../image/sk/btn_stop.gif");
                        &:hover{ background: url("../image/sk/btn_stop_over.gif");}
                      }
                      .play{
                        width: 30px;
                        height: 30px;
                        border: 0;
                        position: absolute;
                        bottom: 15px;
                        right: 15px;
                        background: url("../image/sk/btn_play.gif");
                        &:hover{ background: url("../image/sk/btn_play_over.gif");}
                      }
                      .left{
                        position: absolute;
                        top: 170px;
                        left: 25px;
                      }
                      .right{
                        position: absolute;
                        top: 170px;
                        left: 665px;
                      }
                    }
                    .slide_right{
                      width: 235px;
                      height: 362px;
                      position: relative;
                      float: right;
                      .rightarea{
                        width: 213px;
                        height: 332px;
                        padding: 29px 0 0 23px;
                        background: url("../image/sk/txt_oksk.gif");
                        background-position: left 23px bottom 16px;
                        background-repeat: no-repeat;
                        .skbtn{
                          position: absolute;
                          top: 0;
                          right: 0;
                        }
                        h2{
                          height: 24px;
                          padding-left: 6px;
                          img{display: block;}
                          }
                        ul{
                           height: 91px;
                           padding-left: 6px;
                           li{
                             float: left;
                             margin-right: 4px;
                             a{
                               position: relative;
                               display: block;
                               span{
                                 display:none;
                                 position: absolute;
                                 top: 0;
                                 right: 0;
                                 bottom: 0;
                                 left: 0;
                               }
                             }
                           }
                         }
                      }
                    }
                  }
                  .company_02{
                    float: left;
                    position: relative;
                    border-right: 1px #eaeaea solid;
                    border-bottom: 1px #eaeaea solid;
                    background: url("../image/sk/bg_skbox_bot.gif");
                    background-position: left bottom;
                    background-repeat: repeat-x;
                    width: 954px;
                    height: 362px;
                    .slide{
                      width: 717px;
                      height: 362px;
                      position: absolute;
                      top: 0;
                      left: 0;
                      border-right: 1px #eaeaea solid;
                      .left{
                        position: absolute;
                        top: 170px;
                        left: 25px;
                        z-index: 10;
                      }
                      .right{
                        position: absolute;
                        top: 170px;
                        left: 665px;
                        z-index: 10;
                      }
                      ul{
                        width: 20000px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        li{
                          width: 717px;
                          float: left;
                        }
                      }
                    }
                    .slide_right{
                      width: 235px;
                      height: 362px;
                      position: relative;
                      float: right;
                      .rightarea{
                        width: 213px;
                        height: 332px;
                        padding: 29px 0 0 23px;
                        background-position: left 23px bottom 16px;
                        background-repeat: no-repeat;
                        .skbtn{
                          position: absolute;
                          top: 0;
                          right: 0;
                        }
                        h2{
                          height: 24px;
                          padding-left: 6px;
                          img{display: block;}
                        }
                        .prev{
                          position: absolute;
                          top: 55px;
                          left: 40px;
                        }
                        .next{
                          position: absolute;
                          bottom: 10px;
                          left: 40px;
                        }
                        .cwrap{
                          width: 180px;
                          height: 250px;
                          margin-top: 25px;
                          padding-left: 6px;
                          overflow: hidden;
                          #companylist{
                            position: relative;
                            height: 1071px;
                            top: -357px;
                            img{ display: block;}
                            .label{ margin: 5px 0;}
                            li{
                              width: 180px;
                              height: 15px;
                              padding: 1px 0;
                              overflow: hidden;
                              a{
                                display: block;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                  .investor{
                    float: left;
                    width: 214px;
                    height: 333px;
                    padding: 29px 0 0 26px;
                    background: url("../image/sk/bg_grd_01.gif");
                    background-repeat: repeat-y;
                    border-right: 1px #eaeaea solid;
                    border-bottom: 1px #eaeaea solid;
                    h2{
                      height: 34px;
                    }
                    dl{width: 194px;overflow: hidden;padding-bottom: 30px;
                    dt{
                      height: 21px;
                      a{
                        font-size: 13px;
                        font-weight: bold;
                        font-family: malgun;
                        color: #6e6e6e;
                        display: block;
                        width: 190px;
                        background: url("../image/sk/arr_next.gif");
                        background-position: right;
                        background-repeat: no-repeat;
                       }
                      }
                    }
                  }
                  .sk_media{
                    width: 219px;
                    height: 209px;
                    border-right: 1px #eaeaea solid;
                    border-bottom: 1px #eaeaea solid;
                    float: left;
                    padding: 30px 0 0 19px;
                    background: url("../image/sk/bg_grd_03.gif");
                    background-position: right bottom;
                    background-repeat: repeat-x;
                    h2{height: 31px;}
                  }
                  .sk_global{
                    width: 200px;
                    height: 209px;
                    float: left;
                    padding: 30px 19px 0 19px;
                    background: url("../image/sk/bg_globalsk_tmp.jpg");
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    background-color: #f3f3f3;
                    border-right: 1px #eaeaea solid;
                    border-bottom: 1px #eaeaea solid;
                    h2{
                      height: 31px;
                    }
                  }
                  .sk_news{
                    position: relative;
                    float: left;
                    width: 717px;
                    height: 239px;
                    border-right:1px #eaeaea solid;
                    border-bottom: 1px #eaeaea solid;
                    .wrap_01{
                      width: 698px;
                      height: 239px;
                      overflow: hidden;
                      position: absolute;
                      top: 0;
                      left: 19px;
                      display: none;
                      h2{
                        position: absolute;
                        top: 30px;
                        left: 0;
                      }
                      .arr_prev{
                        position: absolute;
                        top: 30px;
                        left: 174px;
                        img{ vertical-align: middle;}
                      }
                      .arr_next{
                        position: absolute;
                        top: 30px;
                        left: 194px;
                        img{ vertical-align: middle;}
                      }
                      dt{
                        position: absolute;
                        top: 58px;
                        float: left;
                        .text{
                          width: 200px;
                          font-family: malgun;
                          font-size: 16px;
                          font-weight: bold;
                          padding-bottom: 20px;
                          color: #333;
                          line-height: 20px;
                        }
                        .text2{
                          width: 200px;
                        }
                      }
                      dd{float: right;}
                    }
                    .wrap_02{
                      width: 698px;
                      height: 239px;
                      overflow: hidden;
                      position: absolute;
                      top: 0;
                      left: 19px;
                      display: none;
                      h2{
                        position: absolute;
                        top: 30px;
                        left: 0;
                      }
                      .arr_prev{
                        position: absolute;
                        top: 30px;
                        left: 174px;
                        img{ vertical-align: middle;}
                      }
                      .arr_next{
                        position: absolute;
                        top: 30px;
                        left: 194px;
                        img{ vertical-align: middle;}
                      }
                      dt{
                        position: absolute;
                        top: 58px;
                        float: left;
                        .text{
                          width: 200px;
                          font-family: malgun;
                          font-size: 16px;
                          font-weight: bold;
                          padding-bottom: 20px;
                          color: #333;
                          line-height: 20px;
                        }
                        .text2{
                          width: 200px;
                        }
                      }
                      dd{float: right;}
                    }
                    .wrap_03{
                      width: 698px;
                      height: 239px;
                      overflow: hidden;
                      position: absolute;
                      top: 0;
                      left: 19px;
                      display: none;
                      h2{
                        position: absolute;
                        top: 30px;
                        left: 0;
                      }
                      .arr_prev{
                        position: absolute;
                        top: 30px;
                        left: 174px;
                        img{ vertical-align: middle;}
                      }
                      .arr_next{
                        position: absolute;
                        top: 30px;
                        left: 194px;
                        img{ vertical-align: middle;}
                      }
                      dt{
                        position: absolute;
                        top: 58px;
                        float: left;
                        .text{
                          width: 200px;
                          font-family: malgun;
                          font-size: 16px;
                          font-weight: bold;
                          padding-bottom: 20px;
                          color: #333;
                          line-height: 20px;
                        }
                        .text2{
                          width: 200px;
                        }
                      }
                      dd{float: right;}
                    }
                    .wrap_04{
                      width: 698px;
                      height: 239px;
                      overflow: hidden;
                      position: absolute;
                      top: 0;
                      left: 19px;
                      h2{
                        position: absolute;
                        top: 30px;
                        left: 0;
                      }
                      .arr_prev{
                        position: absolute;
                        top: 30px;
                        left: 174px;
                        img{ vertical-align: middle;}
                      }
                      .arr_next{
                        position: absolute;
                        top: 30px;
                        left: 194px;
                        img{ vertical-align: middle;}
                      }
                      dt{
                        position: absolute;
                        top: 58px;
                        float: left;
                        .text{
                          width: 200px;
                          font-family: malgun;
                          font-size: 16px;
                          font-weight: bold;
                          padding-bottom: 20px;
                          color: #333;
                          line-height: 20px;
                        }
                        .text2{
                          width: 200px;
                        }
                      }
                      dd{float: right;}
                    }
                  }
                  .divide{
                    width: 238px;
                    height: 372px;
                    float: left;
                    border-right: 1px #eaeaea solid;
                    .social{
                      width: 100%;
                      height: 190px;
                      background:url("../image/sk/social_bg.jpg");
                      background-position: 39px bottom;
                      background-repeat: no-repeat;
                      background-color: #f3f3f3;
                      overflow: hidden;
                      dt{
                        width: 190px;
                        height: 31px;
                        padding: 30px 0 0 19px;
                      }
                      dd{
                        position: relative;
                        width: 205px;
                        padding: 0 0 20px 19px;
                        p{line-height: 16px;}
                        div{ margin-top: 7px;
                          span{
                            text-decoration: underline;
                            letter-spacing: -0.15em;
                          }
                          img{
                            vertical-align: top;
                          }
                        }
                      }
                    }
                    .nanum{
                      padding: 30px 0 0 19px;
                      border-top: 1px #eaeaea solid;
                      dt{height: 31px;}
                    }
                  }
                  .sk_cf{
                    width: 220px;
                    height: 342px;
                    float: left;
                    padding: 30px 0 0 18px;
                    border-right: 1px #eaeaea solid;
                    h2{height: 29px;}
                    h3{
                      line-height: 20px;
                      font-size: 15px;
                      font-family: malgun;
                      font-weight: bold;
                      color: #333;
                      padding-bottom: 15px;
                      width: auto;
                      max-width: 200px;
                    }
                    .sk_video{
                      position: relative;
                      text-align: center;
                      width: 205px;
                    }
                    p{
                      width: 200px;
                      text-align: left;
                      margin-top: 15px;
                    }
                  }
                  .talented{
                    width: 217px;
                    height: 316px;
                    float: left;
                    padding: 30px 0 26px 19px;
                    border-right: 1px #eaeaea solid;
                    h2{height: 29px;}
                    h3{
                      width: 90%;
                      height: 111px;
                      font-family: malgun;
                      font-weight: bold;
                      font-size: 16px;
                      color: #333;
                      line-height: 20px;
                      a{
                        font-family: malgun;
                        color: #333;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 20px;
                      }
                      p{
                        width: 100%;
                        margin-top: 10px;
                        color: #343434;
                        font-weight: normal !important;
                        font-family: malgun;
                        font-size: 14px !important;
                        line-height: 17px;
                        a{
                          font-size: 14px;
                          color: #343434;
                          line-height: 17px;
                          font-family: malgun;
                          font-weight: normal;
                          span{
                            border-bottom: 1px #666 solid;
                          }
                          img{vertical-align: middle;}
                        }
                      }
                    }
                    dl{
                      width: 204px;
                      font-size: 11px;
                      font-family: verdana, Dotum;
                      letter-spacing: -1px;
                      padding-bottom: 14px;
                      dt{
                        color: #de0029;
                        padding-bottom: 2px;
                        font-family: Tahoma, Geneva, sans-serif;
                        font-size: 11px;
                        line-height: 15px;
                        span{
                          display: block;
                          color: #000;
                        }
                      }
                      dd{
                        line-height: 16px;
                        color: #999;
                      }
                    }
                  }
                  .sk_sport{
                    width: 220px;
                    height: 342px;
                    padding: 30px 0 0 19px;
                    float: left;
                    border-right: 1px #eaeaea solid;
                    background: url("../image/sk/bg_sports.jpg");
                    background-position: center 160px;
                    background-repeat: no-repeat;
                    h2{height: 29px;}
                    h3{
                      width: 90%;
                      height: 50px;
                      color: #333;
                      font-family: malgun;
                      font-size: 16px;
                      font-weight: bold;
                      line-height: 20px;
                    }
                    .text{
                      width: 84%;
                      font-family: malgun;
                      font-size: 14px;
                    }
                  }
                  .sk_blog{
                    position: relative;
                    width: 217px;
                    height: 342px;
                    padding: 30px 0 0 20px;
                    border-right: 1px #eaeaea solid;
                    float: left;
                    h2{height: 29px;}
                    h3{
                      width: 198px;
                      padding-bottom: 15px;
                      font-family: malgun;
                      font-size: 16px;
                      font-weight: bold;
                      line-height: 20px;
                      color: #333;
                    }
                    .text{
                      width: 198px;
                      height: 72px;
                    }
                    .p_img{
                      position: absolute;
                      left: 20px;
                      bottom: 20px;
                      img{
                        width: 197px;
                        height: 112px;
                      }
                    }
                  }
                }
              }
           }
}

footer{
  position: relative;
  width: 100%;
  height: 129px;
  border-top: 1px #eaeaea solid;
  background-color: #fff;
  color: #595959;
  letter-spacing: -1px;
  line-height: 17px;
  h1{
    position: absolute;
    top:25px;
    left: 57px;
  }
  .footermenu{
    position: absolute;
    top: 30px;
    left: 286px;
    li{
      float: left;
      margin-right: 20px;
      img{ display: block;}
    }
  }
  p{
    position: absolute;
    top: 49px;
    left: 286px;
    width: 482px;
    height: 24px;
    font-size: 11px;
    span{
      font-size: 10px;
      font-family: Verdana,arial;
    }
  }
  .Accessibility{
    position: absolute;
    top: 22px;
    left: 1124px;
  }
}
