* {
  margin: 0;
  padding: 0;
}
body {
  font-size: .75em;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header nav {
  height: 35px;
  background-color: #000;
  text-align: center;
  line-height: 35px;
}
header nav li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-left: 18px;
}
header nav li a {
  color: #FFF;
}
header .title-logo span {
  display: block;
  margin: 15px auto;
}
