* {
  margin: 0;
  padding: 0;
}
body {
  background: url(image/SK/bg_leftmenu.gif) 0 0 repeat-y;
  height: 100%;
  font-size: 12px;
  font-family: Dotum;
}
header {
  height: 103px;
  background: url(image/SK/bg_topgr.png) left bottom repeat-x;
  position: relative;
}
header h1 {
  position: absolute;
  top: 18px;
  left: 52px;
}
