* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  border: 0;
}
body {
  background: url(../image/sk/bg_leftmenu_gr.gif) 0 0 repeat-y;
  height: 100%;
  font-size: 12px;
  font-family: Dotum, "돋움";
  color: #333;
}
body a {
  text-decoration: none;
  color: #595959;
}
body a:hover {
  color: #000;
}
header {
  height: 103px;
  background: url(../image/sk/bg_topgr.png) left bottom repeat-x;
  position: relative;
  z-index: 999;
}
header h1 {
  position: absolute;
  top: 18px;
  left: 52px;
}
header .gnb {
  position: absolute;
  top: 12px;
  right: 66px;
}
header .gnb li {
  float: left;
  padding: 0 8px 0 7px;
  background: url(../image/sk/bg_bar_gnb.gif) right 3px no-repeat;
}
header .gnb li:last-child {
  padding-right: 0;
  background: 0;
}
header .menu {
  position: absolute;
  top: 60px;
  left: 292px;
}
header .menu li {
  float: left;
  padding: 2px 35px 0 35px;
  background: url(../image/sk/bg_bar_tmenu.gif) right top no-repeat;
}
header .menu li:last-child {
  padding-right: 0;
  background: 0;
}
header .sns_list {
  position: absolute;
  top: 58px;
  right: 250px;
}
header .sns_list li {
  float: left;
  padding-right: 2px;
}
header fieldset {
  position: absolute;
  border: 0;
  width: 172px;
  height: 29px;
  top: 54px;
  right: 57px;
  background: url(../image/sk/bg_searchbox.gif) 0 0 no-repeat;
}
header fieldset legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
header fieldset input {
  width: 137px;
  height: 19px;
  border: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  background: none;
}
header fieldset a {
  position: absolute;
  top: 5px;
  left: 150px;
}
section {
  position: relative;
  clear: both;
  width: 100%;
  margin-top: -8px;
  background: url(../image/sk/bg_linkbox_nospace.gif) right top repeat-y;
}
section .container {
  position: relative;
  padding: 0 259px 0 327px;
  overflow: hidden;
}
section .container .sitemaparea {
  position: relative;
  float: left;
  width: 239px;
  padding: 0 0 0 28px;
  margin: 0 0 0 -327px;
}
section .container .sitemaparea .map_open {
  display: block;
  position: absolute;
  top: 0;
  left: 7px;
  height: 24px;
  padding-top: 14px;
  z-index: 1000;
}
section .container .hidemap {
  width: 721px;
  height: 100%;
  padding: 31px 0 0 34px;
  background: url(../image/sk/bg_hiddenmap.jpg) right top no-repeat;
  position: absolute;
  top: 0;
  left: -755px;
  z-index: 1001;
}
section .container .hidemap .map_close {
  position: absolute;
  right: 7px;
  top: 14px;
}
section .container .hidemap .sitemap {
  height: 333px;
  background: url(../image/sk/bg_sitemap.gif) 120px bottom no-repeat;
}
section .container .hidemap .sitemap h2 {
  padding: 0 0 25px 10px;
}
section .container .hidemap .sitemap h2 img {
  display: block;
}
section .container .hidemap .sitemap h3 {
  width: 126px;
  float: left;
  padding-left: 10px;
}
section .container .hidemap .sitemap h3 img {
  display: block;
}
section .container .hidemap .sitemap h3 span {
  display: block;
  margin: 22px 0 15px 0;
}
section .container .hidemap .sitemap ul {
  width: 126px;
  padding-left: 10px;
  float: left;
}
section .container .hidemap .sitemap ul li {
  font-size: 11px;
  line-height: 18px;
}
section .container .hidemap .sitemap ul li a {
  color: #666;
}
section .container .hidemap .sitemap ul li a:hover {
  color: #ea002c;
}
section .container .hidemap .skcompany {
  height: 332px;
  padding-top: 30px;
}
section .container .hidemap .skcompany h2 {
  padding: 0 0 33px 10px;
}
section .container .hidemap .skcompany h2 img {
  display: block;
}
section .container .hidemap .skcompany h3 {
  height: 30px;
  padding-left: 10px;
}
section .container .hidemap .skcompany h3 img {
  display: block;
}
section .container .hidemap .skcompany ul {
  padding: 0 0 33px 10px;
  overflow: hidden;
}
section .container .hidemap .skcompany ul li {
  float: left;
  width: 139px;
  font-size: 11px;
  line-height: 18px;
}
section .container .hidemap .skcompany ul li a {
  color: #666;
}
section .container .hidemap .skcompany ul li a:hover {
  color: #ea002c;
}
section .container .content {
  float: left;
  width: 100%;
  padding: 50px 0 40px 0;
}
section .container .content .contents .company {
  float: left;
  position: relative;
  border-right: 1px #eaeaea solid;
  border-bottom: 1px #eaeaea solid;
  background: url(../image/sk/bg_skbox_bot.gif) left bottom repeat-x;
  width: 954px;
  height: 362px;
}
section .container .content .contents .company .slide {
  width: 717px;
  height: 362px;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px #eaeaea solid;
}
section .container .content .contents .company .slide ul li:nth-child(2) {
  display: none;
}
section .container .content .contents .company .slide ul li:nth-child(3) {
  display: none;
}
section .container .content .contents .company .slide .stop {
  width: 30px;
  height: 30px;
  border: 0;
  position: absolute;
  bottom: 15px;
  right: 47px;
  background: url(../image/sk/btn_stop.gif);
}
section .container .content .contents .company .slide .play {
  width: 30px;
  height: 30px;
  border: 0;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: url(../image/sk/btn_play.gif);
}
section .container .content .contents .company .slide .left {
  position: absolute;
  top: 170px;
  left: 25px;
}
section .container .content .contents .company .slide .right {
  position: absolute;
  top: 170px;
  left: 665px;
}
section .container .content .contents .company .slide_right {
  width: 235px;
  height: 362px;
  position: relative;
  float: right;
}
section .container .content .contents .company .slide_right .rightarea {
  width: 213px;
  height: 332px;
  padding: 29px 0 0 23px;
  background: url(../image/sk/txt_oksk.gif) left 23px bottom 16px no-repeat;
}
section .container .content .contents .company .slide_right .rightarea .skbtn {
  position: absolute;
  top: 0;
  right: 0;
}
section .container .content .contents .company .slide_right .rightarea h2 {
  height: 24px;
  padding-left: 6px;
}
section .container .content .contents .company .slide_right .rightarea h2 img {
  display: block;
}
section .container .content .contents .company .slide_right .rightarea ul {
  height: 91px;
  padding-left: 6px;
}
section .container .content .contents .company .slide_right .rightarea ul li {
  float: left;
  margin-right: 4px;
}
section .container .content .contents .company .slide_right .rightarea ul li a {
  position: relative;
  display: block;
}
section .container .content .contents .company .slide_right .rightarea ul li a span {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
section .container .content .contents .investor {
  float: left;
  width: 214px;
  height: 333px;
  padding: 29px 0 0 26px;
  background: url(../image/sk/bg_grd_01.gif) 0 0 repeat-y;
  border-right: 1px #eaeaea solid;
  border-bottom: 1px #eaeaea solid;
}
section .container .content .contents .investor h2 {
  height: 34px;
}
section .container .content .contents .investor dl {
  width: 194px;
  overflow: hidden;
  padding-bottom: 30px;
}
section .container .content .contents .investor dl dt {
  height: 21px;
}
section .container .content .contents .investor dl dt a {
  font-size: 13px;
  font-weight: bold;
  font-family: malgun;
  color: #6e6e6e;
  display: block;
  width: 190px;
  background: url(../image/sk/arr_next.gif) right no-repeat;
}
section .container .content .contents .sk_media {
  width: 219px;
  height: 209px;
  border-right: 1px #eaeaea solid;
  border-bottom: 1px #eaeaea solid;
  float: left;
  padding: 30px 0 0 19px;
  background: url(../image/sk/bg_grd_03.gif) right bottom repeat-x;
}
section .container .content .contents .sk_media h2 {
  height: 31px;
}
section .container .content .contents .sk_global {
  width: 200px;
  height: 209px;
  float: left;
  padding: 30px 19px 0 19px;
  background: url(../image/sk/bg_globalsk_tmp.jpg) center bottom no-repeat;
  background-color: #f3f3f3;
  border-right: 1px #eaeaea solid;
  border-bottom: 1px #eaeaea solid;
}
section .container .content .contents .sk_global h2 {
  height: 31px;
}
section .container .content .contents .sk_news {
  position: relative;
  float: left;
  width: 717px;
  height: 239px;
  border-right: 1px #eaeaea solid;
  border-bottom: 1px #eaeaea solid;
}
section .container .content .contents .sk_news .wrap {
  width: 698px;
  height: 239px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 19px;
}
section .container .content .contents .sk_news .wrap h2 {
  position: absolute;
  top: 30px;
  left: 0;
}
section .container .content .contents .sk_news .wrap .arr_prev {
  position: absolute;
  top: 30px;
  left: 174px;
}
section .container .content .contents .sk_news .wrap .arr_prev img {
  vertical-align: middle;
}
section .container .content .contents .sk_news .wrap .arr_next {
  position: absolute;
  top: 30px;
  left: 194px;
}
section .container .content .contents .sk_news .wrap .arr_next img {
  vertical-align: middle;
}
section .container .content .contents .sk_news .wrap dt {
  position: absolute;
  top: 58px;
  float: left;
}
section .container .content .contents .sk_news .wrap dt .text {
  width: 200px;
  font-family: malgun;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #333;
  line-height: 20px;
}
section .container .content .contents .sk_news .wrap dt .text2 {
  width: 200px;
}
section .container .content .contents .sk_news .wrap dd {
  float: right;
}
section .container .content .contents .divide {
  width: 238px;
  height: 372px;
  float: left;
  border-right: 1px #eaeaea solid;
}
section .container .content .contents .divide .social {
  width: 100%;
  height: 190px;
  background: url(../image/sk/social_bg.jpg) 39px bottom no-repeat;
  background-color: #f3f3f3;
  overflow: hidden;
}
section .container .content .contents .divide .social dt {
  width: 190px;
  height: 31px;
  padding: 30px 0 0 19px;
}
section .container .content .contents .divide .social dd {
  position: relative;
  width: 205px;
  padding: 0 0 20px 19px;
}
section .container .content .contents .divide .social dd p {
  line-height: 16px;
}
section .container .content .contents .divide .social dd div {
  margin-top: 7px;
}
section .container .content .contents .divide .social dd div span {
  text-decoration: underline;
  letter-spacing: -0.15em;
}
section .container .content .contents .divide .social dd div img {
  vertical-align: top;
}
section .container .content .contents .divide .nanum {
  padding: 30px 0 0 19px;
  border-top: 1px #eaeaea solid;
}
section .container .content .contents .divide .nanum dt {
  height: 31px;
}
section .container .content .contents .sk_cf {
  width: 220px;
  height: 342px;
  float: left;
  padding: 30px 0 0 18px;
  border-right: 1px #eaeaea solid;
}
section .container .content .contents .sk_cf h2 {
  height: 29px;
}
section .container .content .contents .sk_cf h3 {
  line-height: 20px;
  font-size: 15px;
  font-family: malgun;
  font-weight: bold;
  color: #333;
  padding-bottom: 15px;
  width: auto;
  max-width: 200px;
}
section .container .content .contents .sk_cf .sk_video {
  position: relative;
  text-align: center;
  width: 205px;
}
section .container .content .contents .sk_cf p {
  width: 200px;
  text-align: left;
  margin-top: 15px;
}
section .container .content .contents .talented {
  width: 217px;
  height: 316px;
  float: left;
  padding: 30px 0 26px 19px;
  border-right: 1px #eaeaea solid;
}
section .container .content .contents .talented h2 {
  height: 29px;
}
section .container .content .contents .talented h3 {
  width: 90%;
  height: 111px;
  font-family: malgun;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  line-height: 20px;
}
section .container .content .contents .talented h3 a {
  font-family: malgun;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}
section .container .content .contents .talented h3 p {
  width: 100%;
  margin-top: 10px;
  color: #343434;
  font-weight: normal !important;
  font-family: malgun;
  font-size: 14px !important;
  line-height: 17px;
}
section .container .content .contents .talented h3 p a {
  font-size: 14px;
  color: #343434;
  line-height: 17px;
  font-family: malgun;
  font-weight: normal;
}
section .container .content .contents .talented h3 p a span {
  border-bottom: 1px #666 solid;
}
section .container .content .contents .talented h3 p a img {
  vertical-align: middle;
}
section .container .content .contents .talented dl {
  width: 204px;
  font-size: 11px;
  font-family: verdana, Dotum;
  letter-spacing: -1px;
  padding-bottom: 14px;
}
section .container .content .contents .talented dl dt {
  color: #de0029;
  padding-bottom: 2px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 11px;
  line-height: 15px;
}
section .container .content .contents .talented dl dt span {
  display: block;
  color: #000;
}
section .container .content .contents .talented dl dd {
  line-height: 16px;
  color: #999;
}
section .container .content .contents .sk_sport {
  width: 220px;
  height: 342px;
  padding: 30px 0 0 19px;
  float: left;
  border-right: 1px #eaeaea solid;
  background: url(../image/sk/bg_sports.jpg) center 160px no-repeat;
}
section .container .content .contents .sk_sport h2 {
  height: 29px;
}
section .container .content .contents .sk_sport h3 {
  width: 90%;
  height: 50px;
  color: #333;
  font-family: malgun;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}
section .container .content .contents .sk_sport .text {
  width: 84%;
  font-family: malgun;
  font-size: 14px;
}
section .container .content .contents .sk_blog {
  position: relative;
  width: 217px;
  height: 342px;
  padding: 30px 0 0 20px;
  border-right: 1px #eaeaea solid;
  float: left;
}
section .container .content .contents .sk_blog h2 {
  height: 29px;
}
section .container .content .contents .sk_blog h3 {
  width: 198px;
  padding-bottom: 15px;
  font-family: malgun;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
}
section .container .content .contents .sk_blog .text {
  width: 198px;
  height: 72px;
}
section .container .content .contents .sk_blog .p_img {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
section .container .content .contents .sk_blog .p_img img {
  width: 197px;
  height: 112px;
}
footer {
  position: relative;
  width: 100%;
  height: 129px;
  border-top: 1px #eaeaea solid;
  background-color: #fff;
  color: #595959;
  letter-spacing: -1px;
  line-height: 17px;
}
footer h1 {
  position: absolute;
  top: 25px;
  left: 57px;
}
footer .footermenu {
  position: absolute;
  top: 30px;
  left: 286px;
}
footer .footermenu li {
  float: left;
  margin-right: 20px;
}
footer p {
  position: absolute;
  top: 49px;
  left: 286px;
  width: 482px;
  height: 24px;
  font-size: 11px;
}
footer p span {
  font-size: 10px;
  font-family: Verdana,arial;
}
footer .Accessibility {
  position: absolute;
  top: 22px;
  left: 1124px;
}
section#main {
  color: #595959;
  letter-spacing: -1px;
  line-height: 17px;
}
section#main {
  padding: 0 !important;
  background: none !important;
}
section#main .container .content {
  width: 1200px;
  padding: 0 !important;
}
section#main .container {
  padding: 0 0 0 28px;
}
section#main .container .sitemaparea {
  position: relative;
  float: left;
  width: 28px;
  padding: 0;
  margin: 0 0 0 -28px;
}
section#about {
  position: relative;
  clear: both;
  width: 100%;
  margin-top: -8px;
  background: url(../image/sk/bg_linkbox_nospace.gif) right top repeat-y;
}
section#about .container {
  position: relative;
  padding: 0 259px 0 327px;
  overflow: hidden;
}
section#about .container .sitemaparea {
  position: relative;
  float: left;
  width: 239px;
  padding: 0 0 0 28px;
  margin: 0 0 0 -327px;
}
section#about .container .sitemaparea .menu_img {
  width: 238px;
  height: 239px;
  background: url(../image/sk/leftimg_01.jpg) no-repeat;
}
section#about .container .sitemaparea ul {
  float: left;
  padding: 21px 0 0 22px;
}
section#about .container .sitemaparea ul li {
  margin-bottom: 2px;
  font-size: 1px;
  line-height: 0;
}
section#about .container .map_open {
  display: block;
  position: absolute;
  top: 0;
  left: 7px;
  height: 24px;
  padding-top: 14px;
  z-index: 1000;
}
section#about .container .hidemap {
  width: 721px;
  height: 100%;
  padding: 31px 0 0 34px;
  background: url(../image/sk/bg_hiddenmap.jpg) right top no-repeat;
  position: absolute;
  top: 0;
  left: -755px;
  z-index: 1001;
}
section#about .container .hidemap .map_close {
  position: absolute;
  right: 7px;
  top: 14px;
}
section#about .container .hidemap .sitemap {
  height: 333px;
  background: url(../image/sk/bg_sitemap.gif) 120px bottom no-repeat;
}
section#about .container .hidemap .sitemap h2 {
  padding: 0 0 25px 10px;
}
section#about .container .hidemap .sitemap h2 img {
  display: block;
}
section#about .container .hidemap .sitemap h3 {
  width: 126px;
  float: left;
  padding-left: 10px;
}
section#about .container .hidemap .sitemap h3 img {
  display: block;
}
section#about .container .hidemap .sitemap h3 span {
  display: block;
  margin: 22px 0 15px 0;
}
section#about .container .hidemap .sitemap ul {
  width: 126px;
  padding-left: 10px;
  float: left;
}
section#about .container .hidemap .sitemap ul li {
  font-size: 11px;
  line-height: 18px;
}
section#about .container .hidemap .sitemap ul li a {
  color: #666;
}
section#about .container .hidemap .sitemap ul li a:hover {
  color: #ea002c;
}
section#about .container .hidemap .skcompany {
  height: 332px;
  padding-top: 30px;
}
section#about .container .hidemap .skcompany h2 {
  padding: 0 0 33px 10px;
}
section#about .container .hidemap .skcompany h2 img {
  display: block;
}
section#about .container .hidemap .skcompany h3 {
  height: 30px;
  padding-left: 10px;
}
section#about .container .hidemap .skcompany h3 img {
  display: block;
}
section#about .container .hidemap .skcompany ul {
  padding: 0 0 33px 10px;
  overflow: hidden;
}
section#about .container .hidemap .skcompany ul li {
  float: left;
  width: 139px;
  font-size: 11px;
  line-height: 18px;
}
section#about .container .hidemap .skcompany ul li a {
  color: #666;
}
section#about .container .hidemap .skcompany ul li a:hover {
  color: #ea002c;
}
section#about .container .content {
  float: left;
  width: 100%;
  padding: 50px 0 40px 0;
}
section#about .container .content .contents {
  position: relative;
  width: 100%;
}
section#about .container .content .contents span {
  position: absolute;
  right: -60px;
  top: -49px;
}
section#about .container .content .contents .navi {
  height: 18px;
  margin-left: -9px;
}
section#about .container .content .contents .navi li {
  font-size: 11px;
  color: #595959;
  float: left;
  padding: 0 10px 0 9px;
  background: url(../image/sk/bg_bar_navi.gif) right 1px no-repeat;
}
section#about .container .content .contents .navi li a {
  font-size: 11px;
  color: #595959;
}
section#about .container .content .contents .navi .choice {
  background: none;
  color: #000;
}
section#about .container .content .contentbox {
  background: url(../image/sk/bg_overview.gif) right top 63px no-repeat;
}
section#about .container .content .contentbox h3 {
  height: 63px;
  background: url(../image/sk/bg_stitbox.gif) right top repeat-x;
}
section#about .container .content .contentbox h4 {
  height: 180px;
  padding: 20px 0 30px 0;
}
section#about .container .content .contentbox p {
  line-height: 20px;
  padding: 20px 0 70px 0;
}
section#about .container .content .linkarea {
  position: absolute;
  top: 0;
  right: -289px;
  width: 201px;
  height: 100%;
  margin-top: -20px;
  padding-left: 28px;
}
section#channel {
  position: relative;
  clear: both;
  width: 100%;
  margin-top: -8px;
  background: url(../image/sk/bg_linkbox_nospace.gif) right top repeat-y;
}
section#channel .container {
  position: relative;
  padding: 0 259px 0 327px;
  overflow: hidden;
}
section#channel .container .sitemaparea {
  position: relative;
  float: left;
  width: 239px;
  padding: 0 0 0 28px;
  margin: 0 0 0 -327px;
}
section#channel .container .sitemaparea .menu_img {
  width: 238px;
  height: 239px;
  background: url(../image/sk/leftimg_01.jpg) no-repeat;
}
section#channel .container .sitemaparea ul {
  float: left;
  padding: 21px 0 0 22px;
}
section#channel .container .sitemaparea ul li {
  margin-bottom: 2px;
  font-size: 1px;
  line-height: 0;
}
section#channel .container .map_open {
  display: block;
  position: absolute;
  top: 0;
  left: 7px;
  height: 24px;
  padding-top: 14px;
  z-index: 1000;
}
section#channel .container .hidemap {
  width: 721px;
  height: 100%;
  padding: 31px 0 0 34px;
  background: url(../image/sk/bg_hiddenmap.jpg) right top no-repeat;
  position: absolute;
  top: 0;
  left: -755px;
  z-index: 1001;
}
section#channel .container .hidemap .map_close {
  position: absolute;
  right: 7px;
  top: 14px;
}
section#channel .container .hidemap .sitemap {
  height: 333px;
  background: url(../image/sk/bg_sitemap.gif) 120px bottom no-repeat;
}
section#channel .container .hidemap .sitemap h2 {
  padding: 0 0 25px 10px;
}
section#channel .container .hidemap .sitemap h2 img {
  display: block;
}
section#channel .container .hidemap .sitemap h3 {
  width: 126px;
  float: left;
  padding-left: 10px;
}
section#channel .container .hidemap .sitemap h3 img {
  display: block;
}
section#channel .container .hidemap .sitemap h3 span {
  display: block;
  margin: 22px 0 15px 0;
}
section#channel .container .hidemap .sitemap ul {
  width: 126px;
  padding-left: 10px;
  float: left;
}
section#channel .container .hidemap .sitemap ul li {
  font-size: 11px;
  line-height: 18px;
}
section#channel .container .hidemap .sitemap ul li a {
  color: #666;
}
section#channel .container .hidemap .sitemap ul li a:hover {
  color: #ea002c;
}
section#channel .container .hidemap .skcompany {
  height: 332px;
  padding-top: 30px;
}
section#channel .container .hidemap .skcompany h2 {
  padding: 0 0 33px 10px;
}
section#channel .container .hidemap .skcompany h2 img {
  display: block;
}
section#channel .container .hidemap .skcompany h3 {
  height: 30px;
  padding-left: 10px;
}
section#channel .container .hidemap .skcompany h3 img {
  display: block;
}
section#channel .container .hidemap .skcompany ul {
  padding: 0 0 33px 10px;
  overflow: hidden;
}
section#channel .container .hidemap .skcompany ul li {
  float: left;
  width: 139px;
  font-size: 11px;
  line-height: 18px;
}
section#channel .container .hidemap .skcompany ul li a {
  color: #666;
}
section#channel .container .hidemap .skcompany ul li a:hover {
  color: #ea002c;
}
section#channel .container .content {
  float: left;
  width: 100%;
  padding: 50px 0 40px 0;
}
section#channel .container .content .contents {
  position: relative;
  width: 100%;
}
section#channel .container .content .contents span {
  position: absolute;
  right: -60px;
  top: -49px;
}
section#channel .container .content .contents .navi {
  height: 18px;
  margin-left: -9px;
}
section#channel .container .content .contents .navi li {
  font-size: 11px;
  color: #595959;
  float: left;
  padding: 0 10px 0 9px;
  background: url(../image/sk/bg_bar_navi.gif) right 1px no-repeat;
}
section#channel .container .content .contents .navi li a {
  font-size: 11px;
  color: #595959;
}
section#channel .container .content .contents .navi .choice {
  background: none;
  color: #000;
}
section#channel .container .content .contentbox h3 {
  height: 63px;
  background: url(../image/sk/bg_stitbox.gif) right top repeat-x;
}
section#channel .container .content .contentbox h4 {
  height: 170px;
  padding: 15px 0 15px 0;
  background: url(../image/sk/bg_titbox_channel_02.gif) right bottom no-repeat;
}
section#channel .container .content .contentbox p {
  line-height: 20px;
  padding: 20px 0 70px 0;
}
section#channel .container .content .linkarea {
  position: absolute;
  top: 0;
  right: -289px;
  width: 201px;
  height: 100%;
  margin-top: -20px;
  padding-left: 28px;
}
section#talented {
  position: relative;
  clear: both;
  width: 100%;
  margin-top: -8px;
  background: url(../image/sk/bg_linkbox_nospace.gif) right top repeat-y;
}
section#talented .container {
  position: relative;
  padding: 0 259px 0 327px;
  overflow: hidden;
}
section#talented .container .sitemaparea {
  position: relative;
  float: left;
  width: 239px;
  padding: 0 0 0 28px;
  margin: 0 0 0 -327px;
}
section#talented .container .sitemaparea .menu_img {
  width: 238px;
  height: 239px;
  background: url(../image/sk/leftimg_01.jpg) no-repeat;
}
section#talented .container .sitemaparea ul {
  float: left;
  padding: 21px 0 0 22px;
}
section#talented .container .sitemaparea ul li {
  margin-bottom: 2px;
  font-size: 1px;
  line-height: 0;
}
section#talented .container .map_open {
  display: block;
  position: absolute;
  top: 0;
  left: 7px;
  height: 24px;
  padding-top: 14px;
  z-index: 1000;
}
section#talented .container .hidemap {
  width: 721px;
  height: 100%;
  padding: 31px 0 0 34px;
  background: url(../image/sk/bg_hiddenmap.jpg) right top no-repeat;
  position: absolute;
  top: 0;
  left: -755px;
  z-index: 1001;
}
section#talented .container .hidemap .map_close {
  position: absolute;
  right: 7px;
  top: 14px;
}
section#talented .container .hidemap .sitemap {
  height: 333px;
  background: url(../image/sk/bg_sitemap.gif) 120px bottom no-repeat;
}
section#talented .container .hidemap .sitemap h2 {
  padding: 0 0 25px 10px;
}
section#talented .container .hidemap .sitemap h2 img {
  display: block;
}
section#talented .container .hidemap .sitemap h3 {
  width: 126px;
  float: left;
  padding-left: 10px;
}
section#talented .container .hidemap .sitemap h3 img {
  display: block;
}
section#talented .container .hidemap .sitemap h3 span {
  display: block;
  margin: 22px 0 15px 0;
}
section#talented .container .hidemap .sitemap ul {
  width: 126px;
  padding-left: 10px;
  float: left;
}
section#talented .container .hidemap .sitemap ul li {
  font-size: 11px;
  line-height: 18px;
}
section#talented .container .hidemap .sitemap ul li a {
  color: #666;
}
section#talented .container .hidemap .sitemap ul li a:hover {
  color: #ea002c;
}
section#talented .container .hidemap .skcompany {
  height: 332px;
  padding-top: 30px;
}
section#talented .container .hidemap .skcompany h2 {
  padding: 0 0 33px 10px;
}
section#talented .container .hidemap .skcompany h2 img {
  display: block;
}
section#talented .container .hidemap .skcompany h3 {
  height: 30px;
  padding-left: 10px;
}
section#talented .container .hidemap .skcompany h3 img {
  display: block;
}
section#talented .container .hidemap .skcompany ul {
  padding: 0 0 33px 10px;
  overflow: hidden;
}
section#talented .container .hidemap .skcompany ul li {
  float: left;
  width: 139px;
  font-size: 11px;
  line-height: 18px;
}
section#talented .container .hidemap .skcompany ul li a {
  color: #666;
}
section#talented .container .hidemap .skcompany ul li a:hover {
  color: #ea002c;
}
section#talented .container .content {
  float: left;
  width: 100%;
  padding: 50px 0 40px 0;
}
section#talented .container .content .contents {
  position: relative;
  width: 100%;
}
section#talented .container .content .contents span {
  position: absolute;
  right: -60px;
  top: -49px;
}
section#talented .container .content .contents .navi {
  height: 18px;
  margin-left: -9px;
}
section#talented .container .content .contents .navi li {
  font-size: 11px;
  color: #595959;
  float: left;
  padding: 0 10px 0 9px;
  background: url(../image/sk/bg_bar_navi.gif) right 1px no-repeat;
}
section#talented .container .content .contents .navi li a {
  font-size: 11px;
  color: #595959;
}
section#talented .container .content .contents .navi .choice {
  background: none;
  color: #000;
}
section#talented .container .content .contentbox {
  background: url(../image/sk/bg_overview.gif) right top no-repeat;
}
section#talented .container .content .contentbox h3 {
  height: 63px;
  background: url(../image/sk/bg_stitbox.gif) right top repeat-x;
}
section#talented .container .content .contentbox h4 {
  height: 180px;
  padding: 20px 0 30px 0;
}
section#talented .container .content .contentbox p {
  line-height: 20px;
  padding: 20px 0 70px 0;
}
section#talented .container .content .linkarea {
  position: absolute;
  top: 0;
  right: -289px;
  width: 201px;
  height: 100%;
  margin-top: -20px;
  padding-left: 28px;
}
section#divide {
  position: relative;
  clear: both;
  width: 100%;
  margin-top: -8px;
  background: url(../image/sk/bg_linkbox_nospace.gif) right top repeat-y;
}
section#divide .container {
  position: relative;
  padding: 0 259px 0 327px;
  overflow: hidden;
}
section#divide .container .sitemaparea {
  position: relative;
  float: left;
  width: 239px;
  padding: 0 0 0 28px;
  margin: 0 0 0 -327px;
}
section#divide .container .sitemaparea .menu_img {
  width: 238px;
  height: 239px;
  background: url(../image/sk/leftimg_01.jpg) no-repeat;
}
section#divide .container .sitemaparea ul {
  float: left;
  padding: 21px 0 0 22px;
}
section#divide .container .sitemaparea ul li {
  margin-bottom: 2px;
  font-size: 1px;
  line-height: 0;
}
section#divide .container .map_open {
  display: block;
  position: absolute;
  top: 0;
  left: 7px;
  height: 24px;
  padding-top: 14px;
  z-index: 1000;
}
section#divide .container .hidemap {
  width: 721px;
  height: 100%;
  padding: 31px 0 0 34px;
  background: url(../image/sk/bg_hiddenmap.jpg) right top no-repeat;
  position: absolute;
  top: 0;
  left: -755px;
  z-index: 1001;
}
section#divide .container .hidemap .map_close {
  position: absolute;
  right: 7px;
  top: 14px;
}
section#divide .container .hidemap .sitemap {
  height: 333px;
  background: url(../image/sk/bg_sitemap.gif) 120px bottom no-repeat;
}
section#divide .container .hidemap .sitemap h2 {
  padding: 0 0 25px 10px;
}
section#divide .container .hidemap .sitemap h2 img {
  display: block;
}
section#divide .container .hidemap .sitemap h3 {
  width: 126px;
  float: left;
  padding-left: 10px;
}
section#divide .container .hidemap .sitemap h3 img {
  display: block;
}
section#divide .container .hidemap .sitemap h3 span {
  display: block;
  margin: 22px 0 15px 0;
}
section#divide .container .hidemap .sitemap ul {
  width: 126px;
  padding-left: 10px;
  float: left;
}
section#divide .container .hidemap .sitemap ul li {
  font-size: 11px;
  line-height: 18px;
}
section#divide .container .hidemap .sitemap ul li a {
  color: #666;
}
section#divide .container .hidemap .sitemap ul li a:hover {
  color: #ea002c;
}
section#divide .container .hidemap .skcompany {
  height: 332px;
  padding-top: 30px;
}
section#divide .container .hidemap .skcompany h2 {
  padding: 0 0 33px 10px;
}
section#divide .container .hidemap .skcompany h2 img {
  display: block;
}
section#divide .container .hidemap .skcompany h3 {
  height: 30px;
  padding-left: 10px;
}
section#divide .container .hidemap .skcompany h3 img {
  display: block;
}
section#divide .container .hidemap .skcompany ul {
  padding: 0 0 33px 10px;
  overflow: hidden;
}
section#divide .container .hidemap .skcompany ul li {
  float: left;
  width: 139px;
  font-size: 11px;
  line-height: 18px;
}
section#divide .container .hidemap .skcompany ul li a {
  color: #666;
}
section#divide .container .hidemap .skcompany ul li a:hover {
  color: #ea002c;
}
section#divide .container .content {
  float: left;
  width: 100%;
  padding: 50px 0 40px 0;
}
section#divide .container .content .contents {
  position: relative;
  width: 100%;
}
section#divide .container .content .contents span {
  position: absolute;
  right: -60px;
  top: -49px;
}
section#divide .container .content .contents .navi {
  height: 18px;
  margin-left: -9px;
}
section#divide .container .content .contents .navi li {
  font-size: 11px;
  color: #595959;
  float: left;
  padding: 0 10px 0 9px;
  background: url(../image/sk/bg_bar_navi.gif) right 1px no-repeat;
}
section#divide .container .content .contents .navi li a {
  font-size: 11px;
  color: #595959;
}
section#divide .container .content .contents .navi .choice {
  background: none;
  color: #000;
}
section#divide .container .content .contentbox {
  background: url(../image/sk/bg_overview.gif) right top no-repeat;
}
section#divide .container .content .contentbox h3 {
  height: 63px;
  background: url(../image/sk/bg_stitbox.gif) right top repeat-x;
}
section#divide .container .content .contentbox h4 {
  height: 180px;
  padding: 20px 0 30px 0;
}
section#divide .container .content .contentbox p {
  line-height: 20px;
  padding: 20px 0 70px 0;
}
section#divide .container .content .linkarea {
  position: absolute;
  top: 0;
  right: -289px;
  width: 201px;
  height: 100%;
  margin-top: -20px;
  padding-left: 28px;
}
